          @media(max-width:1024px) {
          .about__image {
            max-width: 474px;
            max-height: 474px;
          }
          .showcase__image {
            max-width: 200px;
            max-height: 180px;
          }
        }
        
        @media(max-width:768px) {
          .header__button,
          .header__nav {
            display: none;
          }
          .header__menu-btn {
            display: block;
          }
          .header__container-inner_burger {
            justify-content: flex-end
          }
          .hero {
            padding: 125px 0 90px 0;
          }
          .hero__title {
            font-size: 42px;
          }
          .hero__subtitle {
            font-size: 14px;
          }
          .about {
            padding: 120px 0 45px 0;
            display: flex;
            flex-direction: column;
          }
          .about__title {
            font-size: 40px;
          }
          .about__content {
            max-width: 100%;
          }
          .about__image {
            width: 400px;
            height: 400px;
            margin-top: 40px;
          }
          .service__list {
            width: 50%;
            height: 205px;
          }
          .service__list-item {
            font-size: 25px;
          }
          .showcase {
            display: flex;
            flex-direction: column;
            padding: 25px 0 20px 0;
          }
          .showcase__content {
            max-width: 50%;
          }
          .showcase__subtitle {
            margin-bottom: 20px;
          }
          .testi__title {
            margin-bottom: 40px;
            font-size: 40px;
          }
          .testi__card {
            width: 435px;
            margin-bottom: 35px;
            padding: 45px 10px 10px 45px;
          }
          @media (max-width:568px) {}
          /* .hero__subtitle {
    font-size: 20px;
  }
  .about__title {
    font-size: 45px;
  }
  .about__article-text {
    font-size: 12px;
  }
  .about__link-text {
    font-size: 14px;
  }
  .service__title {
    font-size: 30px;
  }
  .service__subtitle {
    font-size: 15px;
  }
  .service__subtitle {
    font-size: ;
  } */