/* Base styles---------------------------- */

body {
  font-family: 'Nunito Sans', sans-serif;
  background: #E5E5E5;
}

.wrapper {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}


/* Header----------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 50px;
  height: 50px;
  background-color: #C4C4C4;
}

.header__container-inner {
  display: flex;
  align-items: center;
  width: 160px;
  height: 100px;
}

.header__nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0 15px;
}

.header__link {
  margin: 0 15px;
  font-weight: semibold;
  font-size: 16px;
  line-height: 150%;
  color: #2B2B2B;
}

.header__button {
  width: 161px;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  background: #423F3E;
  border-radius: 5px;
  border: none;
}

.header__menu-btn {
  display: none;
}


/* Hero--------------------------------------- */

.hero {
  padding: 175px 0 140px 0;
}

.hero__content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  margin-bottom: 32px;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1.1;
  color: #2B2B2B
}

.hero__subtitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  color: #2B2B2B
}


/* About ------------------------------------*/

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 191px 0 75px 0;
}

.about__content {
  max-width: 50%;
}

.about__title {
  margin-bottom: 60px;
  font-size: 53px;
  font-weight: bold;
  line-height: 1.2;
  color: #2B2B2B;
}

.about__articles {
  display: flex;
}

.about__article {
  max-width: 265px;
  margin-right: 54px;
}

.about__article-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: semibold;
  line-height: 1.5;
  color: #2B2B2B;
}

.about__article-link {
  display: flex;
  align-items: center;
}

.about__link-text {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #2B2B2B;
}

.about__link-arrow {
  width: 14px;
  height: 18px;
  object-fit: contain;
}

.about__image {
  max-width: 534px;
  width: 100%;
  max-height: 534px;
  height: 100%;
  margin-left: 20px;
  object-fit: cover;
}


/* Service-------------------------- */

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 80px 0;
}

.service__content {
  width: 40%;
  margin-right: 10px;
}

.service__title {
  margin-bottom: 20px;
  font-size: 39px;
  font-weight: bold;
  color: #2B2B2B;
}

.service__subtitle {
  font-size: 18px;
  font-weight: semibold;
  color: #2B2B2B;
}

.service__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  height: 250px;
}

.service__list-item {
  margin: 0 10px 16px 0;
  font-size: 31px;
  font-weight: bold;
  color: #2B2B2B;
}


/* Showcase --------------------------*/

.showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 65px 0 40px 0;
}

.showcase__content {
  max-width: 25%;
}

.showcase__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #2B2B2B;
}

.showcase__subtitle {
  font-size: 16px;
  font-weight: semibold;
  color: #2B2B2B;
}

.showcase__images {
  display: flex;
}

.showcase__image {
  width: 240px;
  height: 214px;
  margin: 5px 0 5px 40px;
  border-radius: 5px;
  object-fit: cover;
}


/* Testi -------------------------*/

.testimonials {
  padding: 40px 0 65px 0;
}

.testimonials__title {
  margin-bottom: 80px;
  font-size: 53px;
  font-weight: bold;
  text-align: center;
  color: #2B2B2B
}

.testimonials__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 98px;
}

.testimonials__card {
  width: 435px;
  padding: 65px 15px 15px 65px;
  margin-bottom: 35px;
  background: #EBEBEB;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(57, 40, 166, 0.15);
}

.testimonials__text {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: semibold;
  line-height: 28px;
  color: #2B2B2B;
  ;
}

.testimonials__name {
  margin-bottom: ;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  color: #2B2B2B;
}

.testimonials__position {
  font-size: 16px;
  font-weight: semibold;
  line-height: 1.5;
  color: #2B2B2B;
}


/* Footer ----------------------*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

.footer__logo {
  width: 81px;
  height: 116px;
  margin-right: 10px;
  object-fit: content;
}

.footer__contacts {
  margin-left: 20px;
}

.footer__title {
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  color: #2B2B2B;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__link-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footer__copyright {
  font-size: 14px;
  font-weight: semibold;
  line-height: 1.5;
  color: #2B2B2B;
}